.smart-table-nowrap {
  th {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    vertical-align: middle;
  }

  th .sorter {
    display: inline-flex;
    align-items: center;
    gap: 4px;
  }

  th input,
  th select {
    white-space: nowrap;
  }
}

// /* ---------- Visible Columns dropdown ---------- */

.column-selector-dropdown {
  max-height: 320px;      /* ajustable */
  overflow-y: auto;
  overflow-x: hidden;
}

