.depot-container {
    margin-bottom: 20px;
  }
  
  .depot-link {
    color: #007bff;
    text-decoration: none;
  }
  
  .equipment-header {
    /* background-color: #f8f9fa; */
    font-weight: bold;
  }
  
  .item-container {
    margin-bottom: 15px;
  }
  
  .item-title {
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .services-table th, .services-table td {
    vertical-align: middle;
    text-align: center;
  }
  
  .selected-service {
    background-color: #f0f8ff; /* Light blue background for selected rows */
  }
  
  .total-amount {
    text-align: right;
    font-weight: bold;
    color: green;
    margin-top: 10px;
  }
  
  .summary-footer {
    background-color: rgba(var(--cui-success-rgb), 0.15) !important; /* Light green background for summary */
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 5px;
  }
  
  .summary {
    text-align: right;
    color: #000;
  }
  .summary-total {
    font-weight: bold;
    color: #30982E;
  }

  .summary-total-lps {
    font-weight: bold;
    color: #23a8d8;
  }

  .delete-button {
    margin-top: 10px;
  }
  .depot-list-container {
    display: flex;
    flex-direction: column;
    gap: 20px; /* Espacio entre cada DepotDisplay */
    padding: 10px;
  }

  .custom-growl {
    z-index: 9999 !important;
  }

  
.loading-bar {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1%;
}