.ref-image-modal--auto .modal-dialog {
  width: fit-content;
  max-width: 95vw;
  margin: 1.75rem auto;
}

.ref-image-modal--auto .modal-content {
  width: fit-content;
  max-width: 95vw;
  /* max-height: 90vh; */
}

.ref-image-modal--auto .ref-image-modal__body {
  max-height: calc(90vh - 120px);
}