.storage-rp-table {
    background-color: #617E9C;
    text-align: center;
    color: white;
}

.report-title {
    padding-top: 20px;
    text-align: center;
    font-size: 24px;
    /* color: #807d7d; */
    font-weight: 600;
    font-family: 'Times New Roman', Times, serif;
}

.table-ccard {
    margin-bottom: 20px;
}

.chart-wrapper {
    margin: 2%
}

.storage-rp-filters-label{
    text-align: center;
}

.subtitle-span{
    text-align: center;
}

.loading-bar {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1%;
}